
.swiper__card
{display: flex;
flex-wrap: wrap;
justify-content: center;
}

.review__content{
  position: relative;
  
height: 100%;
width: 100%;
z-index: 10;
background-color: $lgrey;

}

.text{
  position: relative;
font-size: 12px;
    font-weight: 500;
    line-height: 30.6px;
    text-align: center;
font-size: 12px;
font-weight: 500;
line-height: 30.6px;
margin: 43px 66px 26px 57px;
}

.underline
{
  background-image: linear-gradient(to right, #E1E1E1 95%, #E1E1E1 5%);
  background-repeat: repeat-x;
  background-position: 100% 100%;
  background-size: 100% 3px;}




.card__item
{
  display: flex;
  justify-content: center;
}

.review__customer-avatar
{
    padding-bottom: 29px;
    padding-top: 80px;
}
.review-background__icon
{

   position: absolute;
 margin-left: 61px;
 margin-top: 28px;
    z-index: 0;
      width: 54px;
      height: 40px;

    }

.review__suspointspnk
{
        width: 32px;
        height: 4px;
        margin-top: 30px;
        align-items: center;
        
}
.review__customer-orgin
{padding-top: 18px;
font-weight: 500;
    font-size: 14px;
    line-height: 186%;
}

.navigation-swipper
{
    display: flex;
  padding-bottom: 57px;
}
.swiper-pagination-bullet-active 
{
   background: url(../images/icons.svg#house) !important;
   background-color: $buttonhome;
  } 

  
  @media screen and (min-width: 768px)
  {
    .review__content{
      padding: 47px 80px 34px 80px;
    }
  }
  .review-gray{
    background-color: $lgrey;
    
    
   
  }
    
  

 


