
.customer-reviews{
  padding-bottom: 86px;
  @media screen and (min-width: 768px) {
      padding-bottom: 120px;
      
    }
  
    @media screen and (min-width: 1199px) {
    padding-bottom: 132px;}
}
.swiper__card
{display: flex;
flex-wrap: wrap;
justify-content: center;

}

.review__content-box{
  position: relative;
  
  background-color: $lgrey;
height: 100%;
width: 100%;
z-index: 0;
  margin: 0 8px 20px 8px;
  padding: 24px 50px 24px 0px;
  @media screen and (min-width: 768px) {
      padding: 25px 0 34px 0;
      margin-left: 80px;
      margin-right: 80px; 
      background-color: rgba( 250, 250, 250, 0.4);
    }
      
      @media screen and (min-width: 1199px) {
          padding: 17px 0 30px 0;
            margin-left: 100px;
            margin-right: 100px;
            background-color: $lgrey;
        }
     

}
.svg::before
{
          content: url('../images/quote.svg');
          background-size: 40px 54px;
         position: absolute;
         padding-left: 20px;
         
        @media screen and (min-width: 768px) {
      padding-left: 16px;
          }
     @media screen and (min-width: 1199px) {
       padding-top: 0;
              padding-left: 35px;
     }
  
  }

  .svg::after{
    content: url('../images/suspointspnk.svg');
      padding-left: 108px;
      padding-top: 45px;
      position: absolute;
      @media screen and (min-width: 768px) {
        padding-left: 245px;
          padding-top: 45px;
        }
                @media screen and (min-width: 1199px) {
                  padding-left: 400px;
                  padding-top: 45px;
                }
  }
.text{
position: relative;
font-size: 12px;
    font-weight: 500;
    line-height: 30.6px;
    text-align: center;
font-size: 12px;
font-weight: 500;
line-height: 30.6px;
margin: 18px 0 auto 50px;
background-image:linear-gradient(to bottom, transparent 98%, #E1E1E1 2%);
background-size: 100% 30px;

@media screen and (min-width: 768px) {
margin: 20px 60px auto 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 216%;
}
@media screen and (min-width: 1199px) {
  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
}
}

.card__item
{
  display: flex;
  justify-content: center;
}

.review__customer-avatar
{
  display: flex;
    padding-bottom: 29px;
    padding-top: 80px;
}

.review__customer-orgin
{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-right: 20px;
  
font-weight: 500;
    font-size: 14px;
    line-height: 186%;
  

}

.swiper-pagination
{
 position: relative;
 padding-right: 20px;
 padding-top: 30px;
}

.swiper-pagination-bullet-active 
{
   background-image: url('../images/home.svg') !important;
   background-color: transparent;
   width: 12.4px;
   height: 12px;
   background-repeat: no-repeat;
   border-radius: 0%;
   background-size: 12.4px 12px;
   
   background-size: contain;
  } 
    .swiper-pagination-bullet
    {
      width: 12px;
      height: 12px;  
    }

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 9px);
}
  
  
    
  

 


