
.swiper__card
{display: flex;
flex-wrap: wrap;
justify-content: center;
}

.review__content
{
  font-size: 12px;
    font-weight: 500;
    line-height: 30.6px;
    text-align: center;
font-size: 12px;
font-weight: 500;
line-height: 30.6px;
text-align: center;
height: 100%;
width: 100%;
background-color: $lgrey;
z-index: 10;
padding: 43px 57px 26px 66px;
}
.underline-gradient{
 
  background-image: linear-gradient(transparent 14px, #E1E1E1 50%, #E1E1E1 100%);
}

.card__item
{
  display: flex;
  justify-content: center;
}

.review__customer-avatar
{
    padding-bottom: 29px;
    padding-top: 80px;
}
.review-background__icon
{

    position: absolute;
    z-index: -1;
      width: 54px;
      height: 40px;

    }

.review__suspointspnk
{
        width: 32px;
        height: 4px;
        margin-top: 30px;
        align-items: center;
        
}
.review__customer-orgin
{padding-top: 18px;
font-weight: 500;
    font-size: 14px;
    line-height: 186%;
}

.navigation-swipper
{
    display: flex;
  padding-bottom: 57px;
}
.swiper-pagination-bullet-active 
{
    background-color: $buttonhome;
}

 


