<section class="contacts">
    <div class="container">
        <ul class="contacts__list">
            <li class="contacts__card">
                <p class="contacts__name">CAFE</p>
                <p class="contacts__title">Chicago</p>


                <a class="contacts__map"
                    href="https://www.google.com/search?q=1200+S+Lake+Shore+Dr%2C+Chicago%2C+IL+60605%2C+USA&rlz=1C1YTUH_plPL1014PL1014&oq=1200+S+Lake+Shore+Dr%2C+Chicago%2C+IL+60605%2C+USA&aqs=chrome..69i57.1069j0j7&sourceid=chrome&ie=UTF-8">1200
                    S Lake Shore Dr, Chicago, IL 60605, USA</a>
                <ul class="contacts__element">
                    <li class="contacts__part">
                        <p class="contacts__date">Monday - Friday</p>
                        <p class="contacts__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__part">
                        <p class="contacts__date">Saturday - Sunday</p>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="contacts__link">
                    <li class="contacts__item">
                        <a class="contacts__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__card">
                <p class="contacts__name contacts__name--color">FOOD TRUCK</p>
                <p class="contacts__title">Los Angeles</p>


                <a class="contacts__map"
                    href="https://www.google.com/search?q=159+Mott+St%2C+Los+Angeles%2C+LA+10013%2C+USA&rlz=1C1YTUH_plPL1014PL1014&oq=159+Mott+St%2C+Los+Angeles%2C+LA+10013%2C+USA&aqs=chrome..69i57.751j0j7&sourceid=chrome&ie=UTF-8">159
                    Mott St, Los Angeles, LA 10013, USA</a>
                <ul class="contacts__element">
                    <li class="contacts__part">
                        <p class="contacts__date">Monday - Friday</p>
                        <p class="contacts__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__part">
                        <p class="contacts__date">Saturday - Sunday</p>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="contacts__link">
                    <li class="contacts__item">
                        <a class="contacts__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__card">
                <p class="contacts__name">CAFE</p>
                <p class="contacts__title">New York</p>


                <a class="contacts__map"
                    href="https://www.google.com/search?q=279+Grand+St%2C+New+York%2C+NY+10002%2C+USA&rlz=1C1YTUH_plPL1014PL1014&sxsrf=ALiCzsa_GetJIdpXRyyZsXI7zT-5EFOQmw%3A1671102341187&ei=hf-aY-GHC4OJ9u8Pm7aagAg&ved=0ahUKEwih3rervfv7AhWDhP0HHRubBoAQ4dUDCA8&uact=5&oq=279+Grand+St%2C+New+York%2C+NY+10002%2C+USA&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIICCEQFhAeEB1KBAhBGABKBAhGGABQAFgAYM4IaABwAXgAgAG-AYgBvgGSAQMwLjGYAQCgAQKgAQHAAQE&sclient=gws-wiz-serp">279
                    Grand St, New York, NY 10002, USA</a>
                <ul class="contacts__element">
                    <li class="contacts__part">
                        <p class="contacts__date">Monday - Friday</p>
                        <p class="contacts__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__part">
                        <p class="contacts__date">Saturday - Sunday</p>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="contacts__link">
                    <li class="contacts__item">
                        <a class="contacts__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="contacts__button">
         <li>
            <button class="button-accent button-accent--pos" type="button">Our locations
                <svg class="button__icon button__icon--append"></svg>
            </button> 
         </li>
         <li>
            <button class="button-frncs" type="button">Franchise
                <svg class="button__icon button__icon--append"></svg>
            </button>
         </li>
        </ul>
    </div>
</section>