<section class="contacts" id="contacts">
  <div class="container">
    <ul class="contacts__list">
      <li class="contacts-card">
        <p class="contacts-card__name">CAFE</p>
        <p class="contacts-card__title">Chicago</p>

        <a class="contacts-card__map" href=""
          >Fusce ut velit laoreet, tempus arcu molestie vulputate</a
        >
        <ul class="contacts-element">
          <li class="contacts-element__part">
            <p class="contacts__date">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-element__part">
            <p class="contacts__date">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__link">
          <li class="contacts__item">
            <a class="contacts__tel" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a class="contacts__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-card">
        <p class="contacts-card__name contacts-card__name--color">FOOD TRUCK</p>
        <p class="contacts-card__title">Los Angeles</p>

        <a class="contacts-card__map" href=""
          >Fusce ut velit laoreet, tempus arcu molestie vulputate</a
        >
        <ul class="contacts-element">
          <li class="contacts-element__part">
            <p class="contacts__date">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-element__part">
            <p class="contacts__date">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__link">
          <li class="contacts__item">
            <a class="contacts__tel" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a class="contacts__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-card">
        <p class="contacts-card__name">CAFE</p>
        <p class="contacts-card__title">New York</p>

        <a class="contacts-card__map" href=""
          >Fusce ut velit laoreet, tempus arcu molestie vulputate</a
        >
        <ul class="contacts-element">
          <li class="contacts-element__part">
            <p class="contacts__date">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-element__part">
            <p class="contacts__date">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-link">
          <li class="contacts-link__item">
            <a class="contacts__tel" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-link__item">
            <a class="contacts__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__button">
      <li>
        <button class="button-accent button-accent--position" type="button">
          Our locations
          <svg class="button__icon button__icon--position">
            <use href="./images/icons.svg#icon-arrow2"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="button-frncs" type="button">
          Franchise
          <svg class="button__icon button__icon--position">
            <use href="./images/icons.svg#icon-arrow2"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
