<section class="customer-reviews">
    <div class="swiper container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <ul class="cards list">
                    <li class="card__item">
                        <img class="review__customer-avatar" src="./images/customer/customer@1x.png"
                            alt="avatar-customer" />
                    </li>
                    <li class="card__item">
                        <article class="review__content">
                            <span class="underline-gradient">
                                <svg class="review-background__icon">
                                    <use href="./images/icons.svg#quote"></use>
                                </svg>
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</span>
                        </article>
                    </li>
                    <li class="card__item"><svg class="review__suspointspnk">
                            <use href="./images/icons.svg#suspointspnk"></use>
                        </svg>
                    </li>
                    <li class="card__item">
                        <h2 class="review__customer-orgin">Emily, Los Angeles</h2>
                    </li>
                </ul>
            </div>
            <div class="swiper-slide">
                <ul class="cards list">
                    <li class="card__item">
                        <img class="review__customer-avatar" src="./images/customer/customer2@1x.png"
                            alt="avatar-customer" />
                    </li>
                    <li class="card__item">
                        <article class="review__content">
                            <span class="underline-gradient">
                                <svg class="review-background__icon">
                                    <use href="./images/icons.svg#quote"></use>
                                </svg>
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc,
                                accumsan congue. Lorem ipsum primis in nibh vel risus.
                            </span>
                        </article>
                    </li>
                    <li class="card__item"><svg class="review__suspointspnk">
                            <use href="./images/icons.svg#suspointspnk"></use>
                        </svg>
                    </li>

                    <li class="card__item">
                        <h2 class="review__customer-orgin">Emily, Los Angeles</h2>
                    </li>
                </ul>
            </div>
            <div class="swiper-slide">
                <ul class="cards list">
                    <li class="card__item">
                        <img class="review__customer-avatar" src="./images/customer/customer3@1x.png"
                            alt="avatar-customer" />
                    </li>
                    <li class="card__item">

                        <article class="review__content">
                            <span class="underline-gradient">
                                <svg class="review-background__icon">
                                    <use href="./images/icons.svg#quote"></use>
                                </svg>

                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc,
                                accumsan
                                congue. Lorem ipsum primis in nibh vel risus.
                            </span>
                        </article>

                    </li>
                    <li class="card__item"><svg class="review__suspointspnk">
                            <use href="./images/icons.svg#suspointspnk"></use>
                        </svg>
                    </li>
                    <li class="card__item">
                        <h2 class="review__customer-orgin">Emily, Los Angeles</h2>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navigation-swipper"></div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need navigation buttons -->
    </div>
    </div>
</section>
<!-- Swiper-script-->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>
    const swiper = new Swiper('.swiper', {
        loop: true,

        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>