<section class="footer-upper">
  <div class="container">
    <div class="footer-container">
      <div class="foooter-title">
        <p class="foooter-title__label">homemade ice cream made</p>
        <p class="footer-title__main">with passion</p>
      </div>
      <div class="footer-right">
        <ul class="social-list list">
          <li>
            <a href="https://github.com/" target="_blank">
              <svg class="social-list__icon">
                <use href="./images/icons.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://telegram.org/" target="_blank">
              <svg class="social-list__icon">
                <use href="./images/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <svg class="social-list__icon">
                <use href="./images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer-contact">
          Feel free to contact
          <a href="tel:+610383766284" class="footer-contact__pink"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
<section class="footer-copyright">
  <p class="footer-copyright__note">© 2019 - IceCream. All Rights Reserved.</p>
</section>
