<section>
  <div class="container">
    <img
      class="gallery"
      alt="kolaż 10 zdjęć: 2 z lodami na patyku, 6 w wafelku, 1 shake i 1 lody w pucharku"
      srcset="
        ../src/images/gallery/m_gallery@1x.png  364w,
        ../src/images/gallery/m_gallery@2x.png  364w,
        ../src/images/gallery/t_gallery@1x.png  786w,
        ../src/images/gallery/t_gallery@2x.png  786w,
        ../src/images/gallery/d_gallery@1x.png 1280w,
        ../src/images/gallery/d_gallery@2x.png 1280w
      "
      sizes="(min-width: $mobile) 364px, (min-width: $tablet) 786px, (min-width: $desktop) 1280px"
    />
  </div>
</section>
