<section class="header">
  <div class="container">
    <div class="container support">
      <div class="hero-header__logo">
        <picture>
          <source
            media="(min-width:320px)"
            srcset="
              ./images/header/logo1-s@1x.png 1x,
              ./images/header/logo1-s@2x.png 2x
            "
            type="image/png"
          />
          <img src="./images/header/logo1.png" alt="Logo ice cream z nazwą" />
        </picture>
      </div>
      <div class="nav">
        <ul class="nav__list">
          <li><a class="nav__home" href="#">Home</a></li>
          <li><a class="nav__about-us" href="#about">About us</a></li>
          <li><a class="nav__how-its-made" href="#about">How it's made?</a></li>
          <li>
            <a class="nav__our-products" href="#products">Our products</a>
          </li>
          <li><a class="nav__contacts" href="#contacts">Contacts</a></li>
        </ul>
      </div>
      <div class="buttons">
        <div class="button">
          <button class="buy-now js-open-modal" type="button" data-modal="1">
            Buy now
          </button>
          <svg class="buy-now__icon" width="4px" height="8px">
            <use href="./images/icons.svg#icon-arrow1"></use>
          </svg>
        </div>

        <button
          class="mobile-menu-button js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="mobile-menu-button__icon" width="20px" height="20px">
            <use href="./images/icons.svg#icon-Burger"></use>
          </svg>
        </button>
      </div>
    </div>

    <!-- moja sekcja --><!-- moja sekcja --><!-- moja sekcja --><!-- moja sekcja --><!-- moja sekcja -->

    <h1 class="hero-header__title">
      ice cream made with<span class="hero-header__passion">passion</span>
    </h1>

    <ul class="header__buttons">
      <li>
          <button class="header__buttons-products" onclick="location.href='#products'" type="button">
            Products
        
      </li>
      <li>
          <button class="header__buttons-about" onclick="location.href='#about'" type="button">
            How it's made?
          </button>
      </li>
    </ul>
    <div class="header__elipse"></div>
    <div class="header__ice"></div>
    <!-- tablet desktop     --><!-- tablet desktop     --><!-- tablet desktop     --><!-- tablet desktop     -->

    <div class="tablet">
      <ul class="header__building">
        <li class="header__numbers header__buildings-elipse">16</li>
        <li class="header__cafes">cafes</li>
        <li class="header__numbers header__buildings-elipse">23</li>
        <li class="header__food">food trucks</li>
      </ul>
      <img
        class="header__lady"
        src="./images/header/t_lady@1x.png"
        srcset="
          ./images/header/t_lady@1x.png,
          ./images/header/t_lady@2x.png,
          ./images/header/d_lady@1x.png,
          ./images/header/d_lady@2x.png
        "
        sizes="(min-width:$tablet)168px, (min-width:$desktop)293px"
        alt="women eating icecream"
      />

      <img
        class="header__milk"
        src="./images/header/t_milk@1x.png"
        srcset="
          ./images/header/t_milk@1x.png,
          ./images/header/t_milk@2x.png,
          ./images/header/d_milk@1x.png,
          ./images/header/d_milk@2x.png
        "
        sizes="(min-width:$tablet)124px"
        alt="milk with writing bio eco"
      />

      <p class="header__milk-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>

      <img
        class="header__arrow"
        src="./images/header/t_arrow@1x.png"
        srcset="
          ./images/header/t_arrow@1x.png,
          ./images/header/t_arrow@2x.png,
          ./images/header/d_arrow@1x.png,
          ./images/header/d_arrow@2x.png
        "
        sizes="(min-width:$tablet)18px"
        alt="white button with pink arrow"
      />
    </div>
  </div>
  <div class="modal" data-modal="1">
    <button type="button" class="modal__close-btn js-modal-close">
      <svg class="js-modal-close" viewBox="0 0 23 32">
        <use
          href="./images/icons.svg#icon-close_24px"
          width="14"
          height="14"
        ></use>
      </svg>
    </button>
    <div class="modal-container">
      <h3 class="modal-title">We're very sorry</h3>
      <p class="modal-description">
        Due to the recent death of our sales manager, you cannot order anything
        from us until further notice.
      </p>
      <p class="modal-description">We apologize for the inconvenience.</p>
    </div>
  </div>
  <div class="overlay js-overlay-modal"></div>
</section>
