<section class="header">
  <div class="container">
    <div class="header__elipse"></div>
    <div class="header__ice"></div>
    <h1 class="header__heading">
      ICE CREAM MADE WITH <span class="header__passion">PASSION</span>
    </h1>
    <ul class="header__buttons">
      <li>
        <a href="#"
          ><button class="header__buttons-products" type="button">
            Products
          </button></a
        >
      </li>
      <li>
        <a href="#"
          ><button class="header__buttons-about" type="button">
            How it's made?
          </button></a
        >
      </li>
    </ul>
  </div>
</section>
