<div class="mobile-menu d-none">
  <button class="mobile-menu__close-button">
    <svg width="19px" height="19px">
      <use href="./images/icons.svg#icon-close_24px"></use>
    </svg>
  </button>
  <div class="mobile-menu__wrapper">
    <div class="mobile-menu__button">
      <button class="mobile-menu__buy-now" type="button">Buy now</button>
      <svg class="buy-now__icon" width="4px" height="8px">
        <use href="./images/icons.svg#icon-arrow1"></use>
      </svg>
    </div>
    <ul class="mobile-menu__list-nav">
      <li class="mobile-menu__list-item">
        <a class="mobile-menu__link-nav" href="./index.html">Home</a>
      </li>
      <li class="mobile-menu__list-item">
        <a class="mobile-menu__link-nav" href="#">About us</a>
      </li>
      <li class="mobile-menu__list-item">
        <a class="mobile-menu__link-nav" href="#">How it's made?</a>
      </li>
      <li class="mobile-menu__list-item">
        <a class="mobile-menu__link-nav" href="#">Our products</a>
      </li>
      <li class="mobile-menu__list-item">
        <a class="mobile-menu__link-nav" href="#">Contacts</a>
      </li>
    </ul>
  </div>
</div>
