<section class="products">
  <div class="container">
    <h4 class="products__upper--title">100% NATURAL</h4>
    <h2 class="products__title">PRODUCTS</h2>
    <ul class="products__list list">
      <li class="products__list--icecream">
        <div class="products__list--wrapper">
          <img
            src="./images/products/d_icestrawberry@1x.png"
            alt="strawberry ice cream"
            class="products__list--icecream-photo"
            srcset="
          ./images/products/m_icestrawberry@1x.png 249w,
          ./images/products/m_icestrawberry@2x.png 2x 498w,
          ./images/products/t_icestrawberry@1x.png 220w,
          ./images/products/t_icestrawberry@2x.png 2x 440w,
          ./images/products/d_icestrawberry@1x.png 335w,
          ./images/products/d_icestrawberry@2x.png 2x 670w"
            sizes="(min-width: 320px) 249px, (min-width: 768px) 220px, (min-width: 1200px) 670px, 100vw"
          />

          <h3 class="products__list--title">ICE CREAM</h3>
          <div>
            <svg width="26" height="6">
              <use
                href="./images/icons.svg#greydots"
                viewBox="0 0 35 32"
                class="products__dots"
              ></use>
            </svg>
          </div>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <p class="products__description-tablet">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.
          </p>
          <button class="products__button" type="button">
            <img src="./images/products/arrow-right.png" />
          </button>
        </div>
      </li>
      <li class="products__list--icecoffe">
        <div class="products__list--wrapper">
          <img
            src="./images/products/d_icestrawberry@1x.png"
            alt="ice coffe"
            class="products__list--icecoffe-photo"
            srcset="
          ./images/products/m_icecoffe@1x.png 249w,
          ./images/products/m_icecoffe@2x.png 2x 498w,
          ./images/products/t_icecoffe@1x.png 220w,
          ./images/products/t_icecoffe@2x.png 2x 440w,
          ./images/products/d_icecoffe@1x.png 335w,
          ./images/products/d_icecoffe@2x.png 2x 670w"
            sizes="(min-width: 320px) 249px, (min-width: 768px) 220px, (min-width: 1200px) 670px, 100vw"
          />

          <h3 class="products__list--title">ICE COFFE</h3>
          <div>
            <svg width="26" height="6">
              <use
                href="./images/icons.svg#greydots"
                viewBox="0 0 35 32"
                class="products__dots"
              ></use>
            </svg>
          </div>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <p class="products__description-tablet">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.
          </p>
          <button class="products__button" type="button">
            <img src="./images/products/arrow-right.png" />
          </button>
        </div>
      </li>
      <li class="products__list--milkshakes">
        <div class="products__list--wrapper">
          <img
            sizes="(min-width: 320px) 249px, (min-width: 768px) 220px, (min-width: 1200px) 670px, 100vw"
            src="./images/products/d_icemilk@1x.png"
            alt="milkshake"
            class="products__list--icemilk-photo"
            srcset="
          ./images/products/m_icemilk@1x.png 249w,
          ./images/products/m_icemilk@2x.png 2x 498w,
          ./images/products/t_icemilk@1x.png 220w,
          ./images/products/t_icemilk@2x.png 2x 440w,
          ./images/products/d_icemilk@1x.png 335w,
          ./images/products/d_icemilk@2x.png 2x 670w"
          />

          <h3 class="products__list--title">MILKSHAKES</h3>
          <div>
            <svg class="products__dots--color" width="26" height="6">
              <use
                href="./images/icons.svg#greydots"
                viewBox="0 0 35 32"
                class="products__dots"
              ></use>
            </svg>
          </div>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <p class="products__description-tablet">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.
          </p>
          <button class="products__button" type="button">
            <img src="./images/products/arrow-right.png" />
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
